user/VidyoPortalUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="VidyoPortalUserService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns="http://portal.vidyo.com/user"
                  targetNamespace="http://portal.vidyo.com/user">

    <wsdl:types>
        <xs:schema targetNamespace="http://portal.vidyo.com/user"
                   elementFormDefault="qualified"
                   attributeFormDefault="qualified"
                   xmlns="http://portal.vidyo.com/user">

            <xs:annotation>
                <xs:documentation xml:lang="en"/>
            </xs:annotation>
    
            <xs:element name="OK">
                <xs:annotation>
                    <xs:documentation>String representation of successfull operation - "OK"</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="OK"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="GeneralFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the exceptions happens in system.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GeneralFault" nillable="true" type="Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="InvalidArgumentFault">
                <xs:annotation>
                    <xs:documentation>
                        This means that the arguments which are passed into services are wrong.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidArgumentFault" nillable="true" type="Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Language">
                <xs:annotation>
                    <xs:documentation>Languages supported by VidyoPortal</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="en"/>
                        <xs:enumeration value="de"/>
                        <xs:enumeration value="es"/>
                        <xs:enumeration value="fr"/>
                        <xs:enumeration value="it"/>
                        <xs:enumeration value="ja"/>
                        <xs:enumeration value="ko"/>
                        <xs:enumeration value="pt"/>
                        <xs:enumeration value="zh_CN"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="EntityType">
                <xs:annotation>
                    <xs:documentation>
                        There are three types of entities in VidyoPortal:
                        1. Member - A member is an authorized user of VidyoPortal with a user account.
                        - A member may have at the most one personal room.
                        - A member has a display name
                        - A member has an extension that can also be used for search purposes.

                        2. Rooom - It is a meeting place. Rooms are of two kinds:
                        - Personal, as explained above
                        - Public.
                        Each room has a owner assigned who can control the room.

                        3. Legacy - This entity represents external endpoints. Think of it as a label to identify and
                        search external devices.
                        Legacy entity does not have an account on the VidyoPortal. There is no owner assigned to legacy
                        devices.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Member"/>
                        <xs:enumeration value="Room"/>
                        <xs:enumeration value="Legacy"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="MemberMode">
                <xs:annotation>
                    <xs:documentation>
                        The Member can override the current status with these possible values. Changing a mode will
                        impact VidyoPortal operations.
                        For e.g. if the mode is set to DoNotDisturb for a member, this member will not get any incoming
                        requests to join a meeting or a direct call.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Available"/>
                        <xs:enumeration value="Away"/>
                        <xs:enumeration value="DoNotDisturb"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="MemberStatus">
                <xs:annotation>
                    <xs:documentation>
                        Describes the member status based on the operation state of the endpoint in use by the member:
                        - Status is 'Offline' and hence can't be reached for a conference.
                        - Status is "Online' and can be reached for a conference or a direct call.
                        - Status is 'Busy' in conference and can't can be reached for another conference or a direct
                        call.
                        - Status is 'BusyInOwnRoom' in conference in own personal room and can't can be reached for
                        another conference.
                        - Status is 'Ringing' endpoint associated with member start to ring on receive  direct call or invite event from other part.
                        - Status is 'RingAccepted' endpoint associated with member accept the call from other part.
                        - Status is 'RingRejected' endpoint associated with member reject the call from other part.
                        - Status is 'RingNoAnswer' endpoint associated with member is not answered in some period of time.
                        - Status is 'Alerting' endpoint associated with member is alerting about income call.
                        - Status is 'AlertCancelled' endpoint associated with member is stop to be alerting about income call.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Offline"/>
                        <xs:enumeration value="Online"/>
                        <xs:enumeration value="Busy"/>
                        <xs:enumeration value="BusyInOwnRoom"/>
                        <xs:enumeration value="Ringing"/>
                        <xs:enumeration value="RingAccepted"/>
                        <xs:enumeration value="RingRejected"/>
                        <xs:enumeration value="RingNoAnswer"/>
                        <xs:enumeration value="Alerting"/>
                        <xs:enumeration value="AlertCancelled"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="RoomStatus">
                <xs:annotation>
                    <xs:documentation>
                        Status is 'Empty' and hence can be used for meeting.
                        Status is "Full' and is not accepting any more participants to the meeting.
                        Status is 'Occupied' some participants use the room for meeting.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Empty"/>
                        <xs:enumeration value="Full"/>
                        <xs:enumeration value="Occupied"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="RoomMode">
                <xs:annotation>
                    <xs:documentation>
                        - 'roomURL' (optional) means that room has an URL to be used to join the meeting. Typically used for
                        sending invitations to users via mail, etc.
                        - 'roomLocked' means the owner is not allowing any more participants to join the room.
                        - is 'hasPIN' means that the participant is required to enter a PIN in order to join this room.
                        - 'roomPIN' is the actual PIN that participant uses to enter the room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roomURL" nillable="true" type="xs:string"/>
                        <xs:element name="isLocked" type="xs:boolean"/>
                        <xs:element name="hasPin" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="roomPIN" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="sortDir">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ASC"/>
                    <xs:enumeration value="DESC"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="Filter">
                <xs:annotation>
                    <xs:documentation>
                        Filter for search queries.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="start" nillable="true" type="xs:int"/>
                        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:int"/>
                        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dir" nillable="true" type="sortDir"/>
                        <xs:element minOccurs="0" ref="EntityType"/>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="EntityID">
                <xs:annotation>
                    <xs:documentation>
                        This is an ID of addressing object in VidyoPortal (Member, Room, or Legacy device).
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:int"/>
            </xs:simpleType>

            <xs:element name="Entity">
                <xs:annotation>
                    <xs:documentation>
                        This object is returned as a result of search for member, public room, or legacy device.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entityID" type="EntityID"/>
                        <xs:element minOccurs="0"  nillable="true" name="participantID" type="EntityID"/>
                        <xs:element ref="EntityType"/>
                        <xs:element name="displayName" type="xs:string"/>
                        <xs:element name="extension" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" type="xs:string"/>
                        <xs:element minOccurs="0" ref="Language"/>
                        <xs:element minOccurs="0" ref="MemberStatus"/>
                        <xs:element minOccurs="0" ref="MemberMode"/>
                        <xs:element minOccurs="0" name="canCallDirect" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="canJoinMeeting" type="xs:boolean"/>
                        <xs:element minOccurs="0" ref="RoomStatus"/>
                        <xs:element minOccurs="0" ref="RoomMode"/>
                        <xs:element minOccurs="0" name="canControl" type="xs:boolean"/>
                        <xs:element minOccurs="0" nillable="true" name="audio" type="xs:boolean"/>
                        <xs:element minOccurs="0" nillable="true" name="video" type="xs:boolean"/>
                        <xs:element minOccurs="0" nillable="true" name="appshare" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LogInRequest">
                <xs:annotation>
                    <xs:documentation>
                        Login request to the VidyoPortal. User identified in Http Authentication header
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogInResponse">
                <xs:annotation>
                    <xs:documentation>
                        If the users authentication is successfull, the Portal Access Key is returned.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pak" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LinkEndpointRequest">
                <xs:annotation>
                    <xs:documentation>
                        LinkEndpoint request to the VidyoPortal. User identified in Http Authentication header is associated
                        with the vidyo endpoint identifier.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="EID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LinkEndpointResponse">
                <xs:annotation>
                    <xs:documentation>
                        If the users authentication is successfull, the Member entity is returned.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LogOutRequest">
                <xs:annotation>
                    <xs:documentation>
                        Signout request to the VidyoPortal.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogOutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="MyEndpointStatusRequest">
                <xs:annotation>
                    <xs:documentation>
                        Query the status of user as identified in the http authentication header.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MyEndpointStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="MemberStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SearchMyContactsRequest">
                <xs:annotation>
                    <xs:documentation>
                        Each member of the VidyoPortal is allowed to keep a list of Members, Rooms, Legacy devices as
                        the their favourites for easy access. This api returns that list.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="Filter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SearchMyContactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="total" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="AddToMyContactsRequest">
                <xs:annotation>
                    <xs:documentation>
                        Adds an entity (Member, Room, or Legacy devices) to the Member's favourites for easy access.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entityID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddToMyContactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RemoveFromMyContactsRequest">
                <xs:annotation>
                    <xs:documentation>
                        Removes an entity (Member, Room, or Legacy devices) from the Member's favourites.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entityID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveFromMyContactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SearchRequest">
                <xs:annotation>
                    <xs:documentation>
                        Search for entities (Member, Room, or Legacy devices) that matches the criterion as specified in
                        the filter.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Filter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SearchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="total" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="InviteToConferenceRequest">
                <xs:annotation>
                    <xs:documentation>
                        Invites a Member to a room. This request can only be issued by the Member who can control this
                        room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="entityID" type="EntityID"/>
                        <xs:element name="invite" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InviteToConferenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="JoinConferenceRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request by a member to join a meeting room identified by EntityId. To join the personal room
                        belonging to a member, the EntityID must the set to the Member's EntityID.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JoinConferenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DirectCallRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request by a member to place a direct call to another member as idenfied by EntityId.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entityID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DirectCallResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetParticipantsRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to list the participants in a meeting as idenfied by EntityId. To list the participants
                        in a personal room belonging to a Member, the EntityID must be set to the Member.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element minOccurs="0" ref="Filter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetParticipantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="total" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LeaveConferenceRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to remove the participantID (Endpoint) from the conference.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="participantID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LeaveConferenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="MuteAudioRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to mute the audio for a given participantID (Endpoint) in the conference.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="participantID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MuteAudioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UnmuteAudioRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to unmute the audio for a given participantID (Endpoint) in the conference.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="participantID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UnmuteAudioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="StartVideoRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to start the video for a given participantID (Endpoint) in the conference.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="participantID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StartVideoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="StopVideoRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to stop the video for a given EntityID (Endpoint) in the conference.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conferenceID" type="EntityID"/>
                        <xs:element name="participantID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StopVideoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="MyAccountRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to retrieve Member entity.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MyAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Entity"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CreateRoomURLRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to create a URL for a Room or a Member's personal room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="roomID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateRoomURLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RemoveRoomURLRequest">
                <xs:annotation>
                    <xs:documentation>
                        Request to delete a URL for a Room or a Member's personal room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="roomID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveRoomURLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CreateRoomPINRequest">
                <xs:annotation>
                    <xs:documentation>
                        Create a PIN for a Room or a Member's personal room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="roomID" type="EntityID"/>
                        <xs:element name="PIN" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateRoomPINResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RemoveRoomPINRequest">
                <xs:annotation>
                    <xs:documentation>
                        Removes a PIN for a Room or a Member's personal room.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="roomID" type="EntityID"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveRoomPINResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UpdatePasswordRequest">
                <xs:annotation>
                    <xs:documentation>
                        Updates a Member's password.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdatePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UpdateLanguageRequest">
                <xs:annotation>
                    <xs:documentation>
                        Updates a Member's language settings.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateLanguageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="OK"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>

    <!-- Exceptions messages -->
    <wsdl:message name="GeneralFault">
        <wsdl:part name="fault" element="GeneralFault"/>
    </wsdl:message>

    <wsdl:message name="InvalidArgumentFault">
        <wsdl:part name="fault" element="InvalidArgumentFault"/>
    </wsdl:message>

    <!-- User messages -->
    <wsdl:message name="logInInput">
        <wsdl:part name="parameter" element="LogInRequest"/>
    </wsdl:message>
    <wsdl:message name="logInOutput">
        <wsdl:part name="parameter" element="LogInResponse"/>
    </wsdl:message>

    <wsdl:message name="linkEndpointInput">
        <wsdl:part name="parameter" element="LinkEndpointRequest"/>
    </wsdl:message>
    <wsdl:message name="linkEndpointOutput">
        <wsdl:part name="parameter" element="LinkEndpointResponse"/>
    </wsdl:message>

    <wsdl:message name="logOutInput">
        <wsdl:part name="parameter" element="LogOutRequest"/>
    </wsdl:message>
    <wsdl:message name="logOutOutput">
        <wsdl:part name="parameter" element="LogOutResponse"/>
    </wsdl:message>

    <wsdl:message name="myEndpointStatusInput">
        <wsdl:part name="parameter" element="MyEndpointStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="myEndpointStatusOutput">
        <wsdl:part name="parameter" element="MyEndpointStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="searchMyContactsInput">
        <wsdl:part name="parameter" element="SearchMyContactsRequest"/>
    </wsdl:message>
    <wsdl:message name="searchMyContactsOutput">
        <wsdl:part name="parameter" element="SearchMyContactsResponse"/>
    </wsdl:message>

    <wsdl:message name="addToMyContactsInput">
        <wsdl:part name="parameter" element="AddToMyContactsRequest"/>
    </wsdl:message>
    <wsdl:message name="addToMyContactsOutput">
        <wsdl:part name="parameter" element="AddToMyContactsResponse"/>
    </wsdl:message>

    <wsdl:message name="removeFromMyContactsInput">
        <wsdl:part name="parameter" element="RemoveFromMyContactsRequest"/>
    </wsdl:message>
    <wsdl:message name="removeFromMyContactsOutput">
        <wsdl:part name="parameter" element="RemoveFromMyContactsResponse"/>
    </wsdl:message>

    <wsdl:message name="searchInput">
        <wsdl:part name="parameter" element="SearchRequest"/>
    </wsdl:message>
    <wsdl:message name="searchOutput">
        <wsdl:part name="parameter" element="SearchResponse"/>
    </wsdl:message>

    <wsdl:message name="inviteToConferenceInput">
        <wsdl:part name="parameter" element="InviteToConferenceRequest"/>
    </wsdl:message>
    <wsdl:message name="inviteToConferenceOutput">
        <wsdl:part name="parameter" element="InviteToConferenceResponse"/>
    </wsdl:message>

    <wsdl:message name="joinConferenceInput">
        <wsdl:part name="parameter" element="JoinConferenceRequest"/>
    </wsdl:message>
    <wsdl:message name="joinConferenceOutput">
        <wsdl:part name="parameter" element="JoinConferenceResponse"/>
    </wsdl:message>

    <wsdl:message name="directCallInput">
        <wsdl:part name="parameter" element="DirectCallRequest"/>
    </wsdl:message>
    <wsdl:message name="directCallOutput">
        <wsdl:part name="parameter" element="DirectCallResponse"/>
    </wsdl:message>

    <wsdl:message name="getParticipantsInput">
        <wsdl:part name="parameter" element="GetParticipantsRequest"/>
    </wsdl:message>
    <wsdl:message name="getParticipantsOutput">
        <wsdl:part name="parameter" element="GetParticipantsResponse"/>
    </wsdl:message>

    <wsdl:message name="leaveConferenceInput">
        <wsdl:part name="parameter" element="LeaveConferenceRequest"/>
    </wsdl:message>
    <wsdl:message name="leaveConferenceOutput">
        <wsdl:part name="parameter" element="LeaveConferenceResponse"/>
    </wsdl:message>

    <wsdl:message name="muteAudioInput">
        <wsdl:part name="parameter" element="MuteAudioRequest"/>
    </wsdl:message>
    <wsdl:message name="muteAudioOutput">
        <wsdl:part name="parameter" element="MuteAudioResponse"/>
    </wsdl:message>

    <wsdl:message name="unmuteAudioInput">
        <wsdl:part name="parameter" element="UnmuteAudioRequest"/>
    </wsdl:message>
    <wsdl:message name="unmuteAudioOutput">
        <wsdl:part name="parameter" element="UnmuteAudioResponse"/>
    </wsdl:message>

    <wsdl:message name="startVideoInput">
        <wsdl:part name="parameter" element="StartVideoRequest"/>
    </wsdl:message>
    <wsdl:message name="startVideoOutput">
        <wsdl:part name="parameter" element="StartVideoResponse"/>
    </wsdl:message>

    <wsdl:message name="stopVideoInput">
        <wsdl:part name="parameter" element="StopVideoRequest"/>
    </wsdl:message>
    <wsdl:message name="stopVideoOutput">
        <wsdl:part name="parameter" element="StopVideoResponse"/>
    </wsdl:message>

    <wsdl:message name="myAccountInput">
        <wsdl:part name="parameter" element="MyAccountRequest"/>
    </wsdl:message>
    <wsdl:message name="myAccountOutput">
        <wsdl:part name="parameter" element="MyAccountResponse"/>
    </wsdl:message>

    <wsdl:message name="createRoomURLInput">
        <wsdl:part name="parameter" element="CreateRoomURLRequest"/>
    </wsdl:message>
    <wsdl:message name="createRoomURLOutput">
        <wsdl:part name="parameter" element="CreateRoomURLResponse"/>
    </wsdl:message>

    <wsdl:message name="removeRoomURLInput">
        <wsdl:part name="parameter" element="RemoveRoomURLRequest"/>
    </wsdl:message>
    <wsdl:message name="removeRoomURLOutput">
        <wsdl:part name="parameter" element="RemoveRoomURLResponse"/>
    </wsdl:message>

    <wsdl:message name="createRoomPINInput">
        <wsdl:part name="parameter" element="CreateRoomPINRequest"/>
    </wsdl:message>
    <wsdl:message name="createRoomPINOutput">
        <wsdl:part name="parameter" element="CreateRoomPINResponse"/>
    </wsdl:message>

    <wsdl:message name="removeRoomPINInput">
        <wsdl:part name="parameter" element="RemoveRoomPINRequest"/>
    </wsdl:message>
    <wsdl:message name="removeRoomPINOutput">
        <wsdl:part name="parameter" element="RemoveRoomPINResponse"/>
    </wsdl:message>

    <wsdl:message name="updatePasswordInput">
        <wsdl:part name="parameter" element="UpdatePasswordRequest"/>
    </wsdl:message>
    <wsdl:message name="updatePasswordOutput">
        <wsdl:part name="parameter" element="UpdatePasswordResponse"/>
    </wsdl:message>

    <wsdl:message name="updateLanguageInput">
        <wsdl:part name="parameter" element="UpdateLanguageRequest"/>
    </wsdl:message>
    <wsdl:message name="updateLanguageOutput">
        <wsdl:part name="parameter" element="UpdateLanguageResponse"/>
    </wsdl:message>


    <!-- User services -->
    <wsdl:portType name="VidyoPortalUserServicePortType">

        <wsdl:operation name="logIn">
            <wsdl:input message="logInInput"/>
            <wsdl:output message="logInOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="linkEndpoint">
            <wsdl:input message="linkEndpointInput"/>
            <wsdl:output message="linkEndpointOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="logOut">
            <wsdl:input message="logOutInput"/>
            <wsdl:output message="logOutOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="myEndpointStatus">
            <wsdl:input message="myEndpointStatusInput"/>
            <wsdl:output message="myEndpointStatusOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="searchMyContacts">
            <wsdl:input message="searchMyContactsInput"/>
            <wsdl:output message="searchMyContactsOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="addToMyContacts">
            <wsdl:input message="addToMyContactsInput"/>
            <wsdl:output message="addToMyContactsOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="removeFromMyContacts">
            <wsdl:input message="removeFromMyContactsInput"/>
            <wsdl:output message="removeFromMyContactsOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="search">
            <wsdl:input message="searchInput"/>
            <wsdl:output message="searchOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="inviteToConference">
            <wsdl:input message="inviteToConferenceInput"/>
            <wsdl:output message="inviteToConferenceOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="joinConference">
            <wsdl:input message="joinConferenceInput"/>
            <wsdl:output message="joinConferenceOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="directCall">
            <wsdl:input message="directCallInput"/>
            <wsdl:output message="directCallOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="getParticipants">
            <wsdl:input message="getParticipantsInput"/>
            <wsdl:output message="getParticipantsOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="leaveConference">
            <wsdl:input message="leaveConferenceInput"/>
            <wsdl:output message="leaveConferenceOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="muteAudio">
            <wsdl:input message="muteAudioInput"/>
            <wsdl:output message="muteAudioOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="unmuteAudio">
            <wsdl:input message="unmuteAudioInput"/>
            <wsdl:output message="unmuteAudioOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="startVideo">
            <wsdl:input message="startVideoInput"/>
            <wsdl:output message="startVideoOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="stopVideo">
            <wsdl:input message="stopVideoInput"/>
            <wsdl:output message="stopVideoOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="myAccount">
            <wsdl:input message="myAccountInput"/>
            <wsdl:output message="myAccountOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="createRoomURL">
            <wsdl:input message="createRoomURLInput"/>
            <wsdl:output message="createRoomURLOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="removeRoomURL">
            <wsdl:input message="removeRoomURLInput"/>
            <wsdl:output message="removeRoomURLOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="createRoomPIN">
            <wsdl:input message="createRoomPINInput"/>
            <wsdl:output message="createRoomPINOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="removeRoomPIN">
            <wsdl:input message="removeRoomPINInput"/>
            <wsdl:output message="removeRoomPINOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="updatePassword">
            <wsdl:input message="updatePasswordInput"/>
            <wsdl:output message="updatePasswordOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

        <wsdl:operation name="updateLanguage">
            <wsdl:input message="updateLanguageInput"/>
            <wsdl:output message="updateLanguageOutput"/>
            <wsdl:fault name="GeneralFault" message="GeneralFault"/>
            <wsdl:fault name="InvalidArgumentFault" message="InvalidArgumentFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <!-- User binding -->
    <wsdl:binding name="VidyoPortalUserServiceBinding" type="VidyoPortalUserServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="logIn">
            <soap:operation soapAction="logIn"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="linkEndpoint">
            <soap:operation soapAction="linkEndpoint"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="logOut">
            <soap:operation soapAction="logOut"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="myEndpointStatus">
            <soap:operation soapAction="myEndpointStatus"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchMyContacts">
            <soap:operation soapAction="searchMyContacts"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addToMyContacts">
            <soap:operation soapAction="addToMyContacts"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="removeFromMyContacts">
            <soap:operation soapAction="removeFromMyContacts"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="search">
            <soap:operation soapAction="search"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="inviteToConference">
            <soap:operation soapAction="inviteToConference"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="joinConference">
            <soap:operation soapAction="joinConference"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="directCall">
            <soap:operation soapAction="directCall"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getParticipants">
            <soap:operation soapAction="getParticipants"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="leaveConference">
            <soap:operation soapAction="leaveConference"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="muteAudio">
            <soap:operation soapAction="muteAudio"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="unmuteAudio">
            <soap:operation soapAction="unmuteAudio"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="startVideo">
            <soap:operation soapAction="startVideo"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="stopVideo">
            <soap:operation soapAction="stopVideo"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="myAccount">
            <soap:operation soapAction="myAccount"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createRoomURL">
            <soap:operation soapAction="createRoomURL"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="removeRoomURL">
            <soap:operation soapAction="removeRoomURL"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createRoomPIN">
            <soap:operation soapAction="createRoomPIN"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="removeRoomPIN">
            <soap:operation soapAction="removeRoomPIN"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updatePassword">
            <soap:operation soapAction="updatePassword"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateLanguage">
            <soap:operation soapAction="updateLanguage"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="GeneralFault">
                <soap:fault name="GeneralFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault name="InvalidArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="VidyoPortalUserService">
        <wsdl:port name="VidyoPortalUserServicePort" binding="VidyoPortalUserServiceBinding">
            <soap:address location="http://lfvideo.net:80/services/VidyoPortalUserService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
